@import "tailwindcss";
@theme {
  --color-darkblue:#083c72;
}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
html {
      scroll-behavior: smooth;
    }
body
{
  margin: 0;
  font-family: "Edu NSW ACT Hand Pre", cursive;
  background-color: black;
  background-image: url('');
  background-blend-mode:luminosity;
  background-size:cover;  
  background-attachment: fixed;
}
.logos-slide img
{
  transition: 0.5s;
}
.logos-slide img:hover
{
  cursor: pointer;
  transform: scale(1.5);
}
.bg1
{
  border-radius:  100%  ;
}
.bg2
{
  border-radius:  100% ;
}
.bg3
{
  border-radius:  100% ;
}
.img-1
{
   border-radius:  100%  ;
}
.img-2
{
  border-radius:  100%  ;
}
.floater .active
{
  background-color: #30a3ff;
  color: black;
  transition: 0.5s ease;
}

