@import "tailwindcss";
@theme {
  --color-darkblue:#083c72;
}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
html {
      scroll-behavior: smooth;
    }
.logos-slide img
{
  transition: 0.5s;
}
.logos-slide img:hover
{
  cursor: pointer;
  transform: scale(1.5);
}


