@import "tailwindcss";
@theme {
  --color-darkblue:#083c72;
  --color-floater:#02488a66;
}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.logos-slide
{
    display: inline-block;
    animation: 5s slide infinite linear;
}